{{ for alert in Alerts }}
{{ if alert.Status == "Firing"  }}
<b>🔥 {{ alert.Status }} 🔥</b>
{{ else }}
<b>{{ alert.Status }}</b>
{{ end }}
<b>{{ alert.Labels.alertname }}</b>
{{ alert.Annotations.message }}
<b>Started:</b> {{ date.to_string alert.StartsAt `%F %H:%M:%S` }}

{{ if alert.Status == "Resolved"  }}
<b>Ended:</b> {{ date.to_string alert.EndsAt `%F %H:%M:%S` }}
{{ end }}
{{ end }}